h1,h2{
  font-size: 28px;
  font-weight: 500;
  color: #1f2f3d;
  margin: 0 0 -20px 0;
}
/*h2 {*/
/*  font-size: 28px;*/
/*  font-weight: 500;*/
/*  color: #1f2f3d;*/
/*  margin: 0;*/
/*}*/

h3 {
  font-size: 22px;
  font-weight: 400;
  color: #1f2f3d;
  margin: 36px 0 0 0;
}

h4{
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4d;
  margin: 0;
}

p,ul,ol {
  margin: 14px 0;
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
  list-style-type: circle;
}
ul,ol{
  padding-left: 20px;
  margin-bottom: 40px;
}

tr{
  font-size: 30px;
  border: 1px;
}

th{
  color: red;
}

td{
  color: blue;
}

img{
  max-width: 60vw;
}
